@font-face
{
    font-family: avenirLight;
    src: url(assets/AvenirLTStd-Book.otf);
}

@font-face
{
    font-family: avenirRegular;
    src: url(assets/AvenirLTStd-Roman.otf);
}

@font-face
{
    font-family: avenirBold;
    src: url(assets/AvenirLTStd-Medium.otf);
}

body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white;
}

.container 
{
    width: 1200px;
    height: 250px;
    background: transparent;
    margin: calc((100vh - 250px) * 0.5) auto;
}

.box
{
    position: relative;
    width: 368px;
    height: 220px;
    background: white;
    float: left;
    margin: 15px;
    border-radius: 32px;
    box-shadow: 0px 0px 10px lightgray;
}

.name
{
    padding-top: 16px;
    padding-left: 20px;
    font-family: avenirBold;
    font-size: 30px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px lightgray;
    color: black;
}

.identifier
{
    padding-top: 2px;
    padding-left: 21px;
    font-family: avenirRegular;
    font-size: 14px;
    letter-spacing: 2px;
    color: darkgray;
}

.teacher
{
    padding-top: 6px;
    padding-left: 21px;
    font-family: avenirLight;
    font-Size: 14px;
    letter-spacing: 1px;
    color: darkgray;
}

.buttonWrapper
{
    background-color: transparent;
    padding-top: 56px;
    padding-left: 20px;
}

button
{
    transition-duration: 0.5s;
    border: none;
    border-radius: 16px;
    width: calc(328px * 1);
    height: 50px;
    background-color: rgb(255, 70, 70);
    color: white;
    font-family: avenirLight;
    font-Size: 14px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 10px lightgray;
    text-shadow: 2px 2px 6px lightgray;
}

button:hover
{
    box-shadow: 0px 0px 12px rgb(105, 105, 105);
}